:root {
    --red-wine: #5c1d1c;
    --burgundy: #6d2827;
    --dusty-rose: #b55f5f;
    --dusty-pink: #e99f90;
    --light-pink: #fff1ef;
    --beige: #f5e1c5;
}

* {
    background-color: var(--burgundy);
    color: var(--beige);
    font-family: 'Pathway Gothic One', sans-serif;
}


/* ------------------- HEADER SECTION ---------------------- */
header *{
    background-image: url(../images/hero.png);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}

.logo {
    text-align: center;
    font-size: 48px;
    padding-top: 5% ;
}
a.navbar-item {
    color: var(--beige);
}
a.navbar-item:hover {
    background-image: none;
    background-color: var(--red-wine);
    color: var(--beige);
    border-radius: 20px;
}



/* ------------------- HERO SECTION ---------------------- */
.hero * {
    background-image: url(../images/hero.png);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}


/* --------------------SEARCH Section ----------------------- */
.country-name {
    font-size: 24px;
    text-align: center;
    font-weight: bold;
}

/* -------------------REPORT SECTION-------------------------*/

#report-section {
    display: flex;
    justify-content: center;
    margin-top: 40px;
}

#numbers {
    margin: 40px 40px 40px 100px;
    line-height: 2em;
}


/* --------------------  GRAPH  -----------------------------*/
#chartDiv {
    width:50%; 
    height:200px;
}
#chartDiv div svg g g g g g g g g g g g g {
    fill: var(--beige);
}
#chartDiv div svg g g path{
    fill: transparent
}
#chartDiv div svg g g g g g g g g g g path{
    fill: var(--dusty-pink);
    stroke: var(--dusty-rose);
}
#chartDiv div svg g g g g g g g g g g g g path {
    fill: none;
}
#chartDiv div svg g g:nth-child(1) {
    fill: transparent;
}
#chartDiv div svg g g g g g g g g path {
    stroke: none;
}



/* --------------------   MAP   -----------------------------*/
figure {
    margin-top: 35px;
}

/* -------------------SIGN-UP SECTION-------------------------*/
.sign-up {
    width:50%;
}

.sign-up h1 {
    font-size: 24px;
}

.btn {
    margin-top: 10px;
}
/* ------------------- FOOTER SECTION ---------------------- */
footer {
    text-align: center;
}