:root {
    --red-wine: #5c1d1c;
    --burgundy: #6d2827;
    --dusty-rose: #b55f5f;
    --dusty-pink: #e99f90;
    --light-pink: #fff1ef;
    --beige: #f5e1c5;
}

* {
    background-color: var(--burgundy);
    color: var(--light-pink);
    font-family: 'Pathway Gothic One', sans-serif;
    background-image: url(../images/hero1.jpg);
    background-position: top;
    background-size: cover;
    background-attachment: fixed;
    background-position: 100%;
}


/* ------------------- HEADER SECTION ---------------------- */

.logo {
    text-align: center;
    font-size: 58px;
    padding-top: 50px ;
    font-family: Viga, sans-serif;
    color: var(--beige);
}
.b {
    color: var(--dusty-pink);
    font-family: Viga, sans-serif;
}

a.navbar-item {
    color: var(--beige);
    font-size: 22px;
}
a.navbar-item:hover {
    background-image: none;
    background-color: var(--red-wine);
    color: var(--beige);
    border-radius: 20px;
}



/* ------------------- HERO SECTION ---------------------- */

.hero-body p {
    text-align: center;
    margin: auto;
    color: var(--light-pink);
    font-size: 18px;
}


/* --------------------SEARCH Section ----------------------- */
#search-section {
    margin: auto;
}

.country-name {
    font-size: 24px;
    text-align: center;
    margin-bottom: 10px;
    color: var(--beige);
}
form {
    text-align: center;
}
.button{
    margin-top: 20px;
    background-image: unset;
    background-color: var(--beige);
    padding: 20px 70px;
    font-family: 'Pathway Gothic One', sans-serif;
    color: var(--red-wine);
}
.button.is-small:not(.is-rounded) {
    border-radius: 40px;
}
.button.is-small {
    font-size: 18px;
}

#search-term {
    border-radius: 15px;
    background-image: unset;
    background-color: var(--light-pink);
    width: 500px;
}

#featured-countries {
    margin-top: 40px;
    font-size: 20px;
}

#btn-group .btn{
    margin: 10px 1px;
    background-color: var(--red-wine);
    background-image: unset;
    color: var(--beige);
    padding: 4px 15px;
    border-radius: 5px;
    border: unset;
}

/* -------------------REPORT SECTION-------------------------*/

#report-section {
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

#numbers {
    margin: 40px 40px 40px 100px;
    line-height: 2em;
    font-size: 18px;
    color: var(--light-pink);
}


/* - - - - - - - - - -  graph  - - - - - - - - - - */
#chartDiv {
    width:50%; 
    height:250px;
}
#chartDiv div svg g g g g g g g g g g g g {
    fill: var(--beige);
}
#chartDiv div svg g g path{
    fill: transparent;
}
#chartDiv div svg g g g g g g g g g g path{
    fill: var(--dusty-pink);
    stroke: var(--dusty-rose);
}
#chartDiv div svg g g g g g g g g g g g g path {
    fill: none;
}
#chartDiv div svg g g:nth-child(1) {
    fill: transparent;
}
#chartDiv div svg g g g g g g g g path {
    stroke: none;
}


/* - - - - - - - - - -  map  - - - - - - - - - - */
figure {
    margin: 60px 0;
}

/* -------------------SIGN-UP SECTION-------------------------*/
.sign-up {
    width:40%;
    
}

.sign-up h2 {
    font-size: 24px;
    color: var(--beige);
}

.sign-up p {
    margin: 30px 0;
}

#sign-up-section button {
    margin-top: 10px;
    border-radius: 20px;
    padding: 7px 70px;
    background-image: unset;
    background-color: var(--beige);
    color: var(--red-wine);
    border: none;
    font-family: 'Pathway Gothic One', sans-serif;
    font-size: 18px;
}

#sign-up-section input {
    background-image: unset;
    background-color: var(--light-pink);
}


/* ------------------- FOOTER SECTION ---------------------- */
footer {
    text-align: center;
    margin-top: 70px;
}

/* ------------------ MOBILE----------------------------------*/

@media screen and (max-width: 575px) {
    #sign-up-section button {
        font-size: 10px;
        padding: 10px 50px;
    }
}